{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "browsers": [
                    "> 1%",
                    "last 2 versions",
                    "not dead"
                ],
                "node": "current"
            },
            "modules": false
        }]
        // ["env", {
        //     "browsers": [
        //         "> 1%",
        //         "last 2 versions",
        //         "not dead"
        //     ],
        //     "modules": false,
        //     "target": {
        //         "node": "current"
        //     }
        // }]
    ],
    "plugins": [
    ]
}
