{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "browsers": [
                    "defaults",
                    "> 1%",
                    "last 2 versions",
                    "not dead"
                ],
                "node": "current"
            },
            "modules": false
        }]
    ],
    "plugins": [
    ]
}
