<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>TreeCore IDE Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" />
    <style type="text/css">
        .vscode-dark {
            padding: 0px;
        }
        .tc-card-title-span-20px {
            position: relative;
            top: 1px;
            margin-left: 4px;
        }
        .tc-card-title-span-14px {
            position: relative;
            top: 1px;
            margin-left: 2px;
        }
    </style>
</head>
<body>
    <div id="app">
        <v-app>
            <v-card app dark height="100%">
                <v-navigation-drawer app mini-variant mini-variant-width="60px" permanent>
                    <v-list>
                        <v-list-item class="px-0">
                            <v-list-item-avatar tile>
                                <v-img src="../../resources/logos/treecore_logo_main.svg"></v-img>
                            </v-list-item-avatar>
                        </v-list-item>
                    </v-list>
                    <v-divider></v-divider>
                    <v-list dense>
                        <v-list-item-group>
                            <v-list-item class="px-0 text-center" v-for="item in tcNavListItems" :key="item.title"
                                         color="lime darken-2">
                                <v-list-item-content>
                                    <v-list-item-icon class="mb-0 ml-4">
                                        <v-icon>{{ item.icon }}</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-title style="font-size:0.75rem;">{{ item.title }}</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-navigation-drawer>
                <v-app-bar app height="60px">
                    <div v-for="item in tcAppBarItems">
                        <v-btn class="mr-2" target="_blank" :title="item.title" :href="item.href" outlined small>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-btn>
                    </div>
                    <v-spacer></v-spacer>
                    <v-btn title="Personal Account" fab outlined small>
                        <v-icon>mdi-account</v-icon>
                    </v-btn>
                </v-app-bar>
                <v-main>
                    <v-container fluid>
                        <v-row no-gutters>
                            <v-col md="12">
                                <v-row>
                                    <v-col md="4">
                                        <v-card height="100%" outlined>
                                            <v-card-text class="text-md-center">
                                                <v-avatar size="250px" tile>
                                                    <v-img src="../../resources/logos/treecore_logo_main.svg"></v-img>
                                                </v-avatar>
                                                <div class="mt-8 text-md-h5 font-weight-bold white--text">木心集成开发环境</div>
                                                <div class="mt-2 text-md-body1 white--text">下一代处理器集成开发环境</div>
                                                <div class="mt-4 mb-8">
                                                    <img alt="license" src="https://img.shields.io/github/license/microdynamics-cpu/tree-core-ide.svg" />
                                                    <img alt="stars" src="https://img.shields.io/github/stars/microdynamics-cpu/tree-core-ide.svg" />
                                                    <img alt="forks" src="https://img.shields.io/github/forks/microdynamics-cpu/tree-core-ide.svg" />
                                                    <img alt="version" src="https://img.shields.io/badge/version-1.0.0-FF69B4.svg" />
                                                </div>
                                                <v-divider></v-divider>
                                                <v-checkbox class="white--text" v-model="tcModelCheckbox"
                                                            color="lime darken-2" label="是否在启动时显示主页"></v-checkbox>
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                    <v-col md="4">
                                        <v-card outlined>
                                            <v-card-title>
                                                <v-icon color="lime darken-2" small>mdi-square</v-icon>
                                                <span class="tc-card-title-span-20px">概述</span>
                                            </v-card-title>
                                            <v-card-text class="white--text">
                                                <strong>木心IDE是一款功能强大的处理器通用开发平台</strong>，它集成有智能化的开发、调试和管理模块（目前还在开发中），不仅支持我们团队自研的<strong>木心系列处理器</strong>，未来还将面向所有符合标准的第三方处理器和外设模块。最后，我们开发木心IDE的初衷是希望<strong>它能够构建与激发爱好者们对处理器设计领域的信心与兴趣</strong>，并改变当下处理器学习与开发效率相对低下的窘迫局面，<strong>我们始终坚信半导体会像互联网那样借助开源的力量而迎来发展的黄金时代</strong>，为此我们愿意贡献出自己的一份力量。
                                            </v-card-text>
                                        </v-card>
                                        <v-card outlined>
                                            <v-card-title>
                                                <v-icon color="lime darken-2" small>mdi-square</v-icon>
                                                <span class="tc-card-title-span-20px">特性</span>
                                            </v-card-title>
                                            <v-card-text>
                                                <v-row>
                                                    <v-col v-for="item in tcFuncItems" :key="item.title" md=6>
                                                        <div class="font-weight-bold white--text">
                                                            <v-icon color="lime darken-2" small>
                                                                {{ item.icon }}
                                                            </v-icon>
                                                            <span class="tc-card-title-span-14px">{{ item.title }}</span>
                                                        </div>
                                                        <div class="text-md-caption">
                                                            {{ item.text }}
                                                        </div>
                                                    </v-col>
                                                </v-row>
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                    <v-col md="4">
                                        <v-card height="100%" outlined>
                                            <v-card-title>
                                                <v-icon color="lime darken-2" small>mdi-square</v-icon>
                                                <span class="tc-card-title-span-20px">计划</span>
                                            </v-card-title>
                                            <v-card-text>
                                                <div class="mb-2 ml-3 font-weight-bold white--text">
                                                    今天
                                                </div>
                                                <v-timeline align-top dense style="right:20px;">
                                                    <v-timeline-item v-for="item in tcTimelineItems" :key="item.date"
                                                                     color="lime darken-2" small>
                                                        <v-row>
                                                            <v-col class="px-0" md="3" style="padding-top:14px;">
                                                                <div class="font-weight-bold white--text">
                                                                    {{ item.date }}
                                                                </div>
                                                            </v-col>
                                                            <v-col md="9" style="padding-top:14px;">
                                                                <div class="font-weight-bold white--text">
                                                                    {{ item.title }}
                                                                </div>
                                                                <div class="text-md-caption">
                                                                    {{ item.text }}
                                                                </div>
                                                            </v-col>
                                                        </v-row>
                                                    </v-timeline-item>
                                                </v-timeline>
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-col>
                            <v-col md="12">
                                <v-divider class="my-4"></v-divider>
                            </v-col>
                            <v-col md="12">
                                <v-row>
                                    <v-col md="12">
                                        <v-card outlined>
                                            <v-card-title>
                                                <v-icon color="lime darken-2" small>mdi-square</v-icon>
                                                <span class="tc-card-title-span-20px">新闻动态</span>
                                            </v-card-title>
                                            <v-card-text>
                                                <v-carousel show-arrows-on-hover height="410px;">
                                                    <v-carousel-item v-for="(item, index) in tcNewsCarouselItems"
                                                                     :key="index">
                                                        <v-row>
                                                            <v-col v-for="i in item" :key="i.title" md="4">
                                                                <v-card outlined>
                                                                    <v-card-text>
                                                                        <v-img position="top center" :src="i.src"
                                                                               style="height:120px;"></v-img>
                                                                    </v-card-text>
                                                                </v-card>
                                                                <v-card outlined>
                                                                    <v-card-subtitle class="pt-2 pb-1 white--text"
                                                                                     style="overflow:hidden;
                                                                                            text-overflow:ellipsis;
                                                                                            white-space:nowrap;">
                                                                        <span>{{ i.date }}</span>
                                                                        <span>{{ i.title }}</span>
                                                                    </v-card-subtitle>
                                                                    <v-card-text style="height:160px;">{{ i.text }}</v-card-text>
                                                                </v-card>
                                                            </v-col>
                                                        </v-row>
                                                    </v-carousel-item>
                                                </v-carousel>
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-col>
                            <v-col md="12">
                                <v-divider class="my-4"></v-divider>
                            </v-col>
                            <v-col md="12">
                                <v-footer color="#1e1e1e" padless>
                                    <v-row justify-md="center" no-gutters>
                                        <v-col v-for="item in tcFooterItems" :key="item.title" md="2">
                                            <v-list dense>
                                                <div class="mb-2 text-md-h6">{{ item.title }}</div>
                                                <v-list-item-group>
                                                    <v-list-item class="pl-0" v-for="it in item.list" :key="it.title"
                                                                 style="min-height:30px;">
                                                        <v-list-item-icon class="mr-3" v-if="it.icon"
                                                                          style="height:10px;">
                                                            <v-icon>{{ it.icon }}</v-icon>
                                                        </v-list-item-icon>
                                                        <v-list-item-content>
                                                            <v-list-item-title>{{ it.title }}</v-list-item-title>
                                                        </v-list-item-content>
                                                    </v-list-item>
                                                </v-list-item-group>
                                            </v-list>
                                        </v-col>
                                        <v-col class="py-2 text-md-center" md="12">
                                            <div class="text-md-body1">
                                                The next generation integrated development environment for processor.
                                            </div>
                                            <div class="text-md-body1">
                                                2021-{{ new Date().getFullYear() }} Developed by
                                                <strong>Team MicroDyanmics</strong>
                                            </div>
                                        </v-col>
                                    </v-row>
                                </v-footer>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-main>
            </v-card>
        </v-app>
    </div>
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="../utils/util_view.js"></script>
    <script src="./home.js"></script>
</body>
</html>
