<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>TreeCore IDE Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" />
    <style type="text/css">
        .vscode-dark {
            padding: 0px;
        }
    </style>
</head>
<body>
    <div id="app">
        <v-app>
            <v-card app dark height="100%">
                <v-navigation-drawer app mini-variant mini-variant-width="60px">
                    <v-list>
                        <v-list-item class="px-0">
                            <v-list-item-avatar tile>
                                <v-img src="../../resources/logos/treecore_logo_main.svg"></v-img>
                            </v-list-item-avatar>
                        </v-list-item>
                    </v-list>
                    <v-divider></v-divider>
                    <v-list dense>
                        <v-list-item-group>
                            <v-list-item class="px-0 text-center" v-for="item in navListItems" :key="item.title">
                                <v-list-item-content>
                                    <v-list-item-icon class="mb-0 ml-4">
                                        <v-icon>{{ item.icon }}</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-title style="font-size:0.75rem;">{{ item.title }}</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-navigation-drawer>
                <v-app-bar app height="60px">
                    <div v-for="item in appBarItems">
                        <v-btn class="mr-2" target="_blank" :title="item.title" :href="item.href" outlined small>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-btn>
                    </div>
                    <v-spacer></v-spacer>
                    <v-btn title="Personal Account" fab outlined small>
                        <v-icon>mdi-account</v-icon>
                    </v-btn>
                </v-app-bar>
                <v-main>
                    <v-container fluid>
                        内容测试
                        <v-divider class="my-4"></v-divider>
                        <v-footer color="#1e1e1e" padless>
                            <v-row justify="center" no-gutters>
                                <v-col v-for="item in footerListItems" :key="item.title" md="2">
                                    <v-list dense>
                                        <div class="mb-2 text-md-h6">{{ item.title }}</div>
                                        <v-list-item-group>
                                            <v-list-item class="pl-0" v-for="it in item.list" :key="it.title"
                                                         style="min-height:30px;">
                                                <v-list-item-icon class="mr-3" v-if="it.icon" style="height:10px;">
                                                    <v-icon>{{ it.icon }}</v-icon>
                                                </v-list-item-icon>
                                                <v-list-item-content>
                                                    <v-list-item-title>{{ it.title }}</v-list-item-title>
                                                </v-list-item-content>
                                            </v-list-item>
                                        </v-list-item-group>
                                    </v-list>
                                </v-col>
                                <v-col class="py-2 text-center" md="12">
                                    <div class="text-md-body1">
                                        The next generation integrated development environment for processor.
                                    </div>
                                    <div class="text-md-body1">
                                        2017-{{ new Date().getFullYear() }} Developed by
                                        <strong>Team MicroDyanmics</strong>
                                    </div>
                                </v-col>
                            </v-row>
                        </v-footer>
                    </v-container>
                </v-main>
            </v-card>
        </v-app>
    </div>
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="../utils/util_view.js"></script>
    <script src="./home.js"></script>
</body>
</html>
