.theme--dark .v-label {
    color: white;
}
.v-data-table th {
    font-size: 16px !important;
}

.tc-card-title-span-20px {
    position: relative;
    top: 1px;
    margin-left: 4px;
}
.tc-card-title-span-14px {
    position: relative;
    top: 1px;
    margin-left: 2px;
}
.tc-text-field-x {
    position: relative;
    top: -6px;
}
.tc-icon-text {
    margin-right: 4px;
}
.tc-border-shadow-none {
    border: thin solid rgb(255, 255, 255, 0.12) !important;
    box-shadow: none !important;
}
.tc-border-bottom-shadow-none {
    border-bottom: thin solid rgb(255, 255, 255, 0.12) !important;
    box-shadow: none !important;
}
.tc-elem-back-color-grey {
    background-color: #303030 !important;
}
.tc-code-back-highlight {
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #9E9E9E;
    color: #1E1E1E;
    font-family: monospace;
    font-size: 90%;
}
